
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/LoginController.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body ng-app="myApp">
    <div class="container mt-5" ng-controller="LoginController">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-form-container">
                    <img src="/Assets/Logo/logo.jpg" alt="Brand Logo" class="brand-logo">
                    <h2>Login</h2>
                    <div class="alert alert-danger" role="alert" ng-if="showError">
                       {{errorMessage}}
                    </div>
                    <p>Please enter your username and password to log in.</p>
                    <form ng-submit="submitForm()" name="myForm">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" ng-model="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" ng-model="password" placeholder="Enter password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button> OR  <a href="/Account/Signup">Signup</a>
                    </form>
                </div>
            </div>
        </div>
    </div>    

</body>
</html>
