
@{
    ViewBag.Title = "AddMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/MedicineController.js"></script>
    <style>
        .form-control {
            border-radius: 5px !important;
        }
    </style>
</head>
<div class="bg-dark">
    <h2 style="color: white; text-align: -webkit-center;">Add Medicine</h2>
</div>
<div ng-app="myApp">
    <div class="row justify-content-center" ng-controller="MedicineController">
        <div class="col-md-7">
            <div class="login-form-container" style="max-width: 645px !important;">
                <h2>Add New Medicine</h2>
                <div class="alert alert-danger" role="alert" ng-if="showError">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success" role="alert" ng-if="showSuccess">
                    Medicine Added Sucessfully!
                </div>
                <p>Please enter medicine details.</p>
                <form ng-submit="submitForm()" name="myForm">
                    <div class="form-group mb-3">
                        <label for="Name">Medicine Name</label>
                        <input type="text" class="form-control" ng-model="Name" placeholder="Enter Medicine Name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" ng-model="Description" placeholder="Enter Description" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Price">Price</label>
                        <input type="number" class="form-control" ng-model="Price" placeholder="Enter  Price" required>
                    </div>
                   
                    <div class="form-group mb-3">
                        <label for="PackingType">Packing Type</label>
                        <input type="text" class="form-control" ng-model="PackingType" placeholder="Packing Type" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="width:100%">Add</button>

                </form>
            </div>
        </div>
    </div>
</div>
