
@{
    ViewBag.Title = "EditMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/MedicineController.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <style>
        .form-control {
            width: 70% !important;
        }
    </style>

</head>
<div ng-app="myApp">
    <div class="bg-dark">
        <h2 style="color: white; text-align: -webkit-center;">Edit Medicine</h2>
    </div>
    <div ng-controller="MedicineController" ng-init="getMedicine()">
        <div class="alert alert-danger" role="alert" ng-if="showError">
            {{errorMessage}}
        </div>
        <div class="alert alert-success" role="alert" ng-if="showSuccess">
            Medicine Updated Sucessfully! Reloading Please Wait .....
        </div>


        <div class="container mt-4">
            <div class="pb-5" style="width:120%;">
                <i class="fs-5 bi bi-arrow-repeat" style="float:right; color: #0d6efd;" title="Refresh" onclick="location.reload();"></i>
            </div>
            <div class="row mb-3 mx-0" style="width:121%;">
                <div class="col">
                    <label>Search by Name</label>
                    <input type="text" class="form-control mb-2" ng-model="searchText" placeholder="Search by Medicine Name">
                </div>
                <div class="col">
                    <label>Search by Date</label>
                    <input type="date" class="form-control mb-2" ng-model="searchDate" placeholder="Search by Created Date (yyyy-MM-dd)">
                </div>
                <div class="col-auto">
                    <label class="px-4">Order by created date.</label><br />
                    <button class="btn btn-primary mb-2" ng-click="sortAsc()">Asc order</button>
                    <button class="btn btn-primary mb-2" ng-click="sortDesc()">Desc order</button>
                    <button class="btn btn-primary mb-2" ng-click="sortExp()">Expiry Date</button>
                </div>
            </div>
        </div>
        <div class="m-2">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Medicine Name</th>
                        <th scope="col">Decsription</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Packing</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Expires At</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="MedicineList.length >0" ng-repeat="(key, value) in MedicineList | filter:searchText | filter:{CreatedDate:(searchDate| date:'yyyy-MM-dd')} | orderBy:createdDate">
                        <th scope="row">{{key+1}}</th>
                        <td hidden><input type="text" class="form-control" ng-model="value.MedicineId" value={{value.MedicineId}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.MedicineName" value={{value.MedicineName}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.Description" value={{value.Description}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.Price" value={{value.Price}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.Quantity" value={{value.Quantity}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.PackingType" value={{value.PackingType}} ng-disabled="!value.editing"></td>
                        <td><input type="text" class="form-control" ng-model="value.CreatedDate" value={{value.CreatedDate}} ng-disabled="true"></td>
                        <td><input type="text" class="form-control" ng-model="value.ExpiryDate" value={{value.ExpiryDate}} ng-disabled="!value.editing"></td>
                        <td>
                            <a>
                                <i class="fs-5 bi-pencil-square" style="color: #0d6efd;" ng-click="editMedicine(value)" ng-show="!value.editing"></i>
                                <i class="fs-5 bi bi-file-earmark" style="color: #0d6efd;" ng-click="saveMedicine(value)" ng-show="value.editing"></i>
                                <i class="fs-5 bi bi-x-square" style="color: #0d6efd;" ng-click="cancelEdit(value)" ng-show="value.editing"></i>
                                <i class="fs-5 bi-trash3-fill" style="color: #0d6efd;" ng-click="removeMedicine(value)" ng-show="!value.editing"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="MedicineList.length ===0">
                        <td colspan="7" style="text-align: center;">No Data Found</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
